{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center mt-5">
        <a href="{{ path('wild_index') }}" class="btn btn-outline-dark" type="submit" name="btnSearch">Toutes les séries</a>
    </div>
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button class="btn btn-outline-dark" type="submit" name="btnSearch">Rechercher</button>
        {{ form_end(form) }}

        {% if programs %}
        <div class="row my-5 justify-content-center">
            <h1>Toutes les séries de la table PROGRAM</h1>
        </div>
        {% endif %}

        {% for program in programs %}
            <div>
                <h2><a href="/showbyprogram/{{ program.title }}">{{ program.id }} / {{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            <div class="row d-flex justify-content-center mt-5">
                Aucune série trouvée.
            </div>
        {% endfor %}

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}