{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-5 justify-content-center">
            <h1>Toutes les séries de la table PROGRAM</h1>
        </div>

        {% for program in programs %}
            <div>
                <h2><a href="/showbyprogram/{{ program.title }}">{{ program.id }} / {{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}