{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}

    <div class="container pt-3">
        <div class="row">
            <div class="col-10">
                <div class="media">
                    <img class="align-self-start mr-3" style="width: 150pt" src="{{program.poster}}" alt="{{ program.title }} poster">
                    <div class="media-body">
                        <h1 class="mt-0">{{ program.title }}</h1>
                        <p>{{ program.summary }}</p>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-5">
                {% for season in seasons %}
                    <a href="/showbyseason/{{ season.id }}" class="list-group-item list-group-item-action list-group-item-secondary text-center">Saison {{ season.number }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-3 offset-5">
                <a type="button" class="btn btn-outline-dark" href="{{ path('wild_index') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>




{% endblock %}
